.c-houses{
     
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 156px;
    position: relative;
    top: 156px;
    padding-right: 67px;
    margin-left: 156px;
    margin-right: 89px;
    

}
.c-houses::-webkit-scrollbar {
    width: 5px;

}
  
  /* Track */
.c-houses::-webkit-scrollbar-track {
    background: #443d3d; 
}
   
  /* Handle */
.c-houses::-webkit-scrollbar-thumb {
    background: white;
    height: 91px; 
    border-radius: 10px;
}

.flag{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
    
    
  
    

    &__img{
        object-fit: contain;
        width: 100%;
        
        
    }
    &__text{
        margin-top: 6px;
        color: white;
        font-size: 12px;
        
    }
   
}

