.c-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 156px;
    position: relative;
    top: 156px;
     
}
.icon-arrow-left{
    display: flex;
    font-size: 42px;
    align-items: center;
    position: absolute;
    top: 38px;
    margin-left: 156px;
    color: white;
    p{
        font-size: 24px;
        font-family: 'lato';
        margin: 0;
        margin-left: 16px;
    }
}


.character{   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__img{
        object-fit: contain;
        width: 100%;
        height: 320px;
    }
    &__text{
       font-size: 36px;
    }

}


.list{
    display: flex;
    justify-content: center;
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px; 
        font-family: 'lato';  
    }

    &__house{
        width: 248px;

        img{
            object-fit: contain;
            width: 100%;
            height: 230px;
        }   
    }
    &__allegiances{
        width: 248px;
        height: 230px;  
    }
    &__appearances{
        
    }
    &__father{
        width: 248px;
        height: 230px;
    }
    &__siblings{
        width: 248px;
        height: 230px;
    }
    &__titles{
       
        
    }
    

}


.scroll{
        width: 248px;
        height: 230px;
        overflow: hidden;
        overflow-y: scroll;

        
}
.scroll::-webkit-scrollbar {
        width: 4px;
        
}
      
      /* Track */
.scroll::-webkit-scrollbar-track {
        background: #443d3d; 
}
       
      /* Handle */
.scroll::-webkit-scrollbar-thumb {
        background: white;
        height: 1%; 
        border-radius: 10px;
}