.c-gallery{
     
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    top: 156px;
    padding-right: 67px;
    margin-left: 156px;
    margin-right: 89px;
}

.c-gallery::-webkit-scrollbar {
    width: 4px;   
} 
  /* Track */
.c-gallery::-webkit-scrollbar-track {
    background: #443d3d; 
}
   
  /* Handle */
.c-gallery::-webkit-scrollbar-thumb {
    background: white;
    height: 91px; 
    border-radius: 10px;
}
.card{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 68px;
    position: relative;
    

    &__img{
        object-fit: cover;
        width: 100%;
        height: 320px;
    }
   
}

.text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgba(56, 56, 56, 0.671);
    opacity: 0; 
    height: 60px;
    text-align: center;
    padding-top: 14px;
    color: white;
}



.card:hover .text{
    opacity: 1;
}

